@model CinemaBooking.Models.ShowTime

<h2>Thêm lịch chiếu</h2>

<form asp-action="Create" method="post">
    <select asp-for="MovieId"
            class="form-select"
            asp-items="ViewBag.MovieId">
        <option value="">-- Chọn phim --</option>
    </select>


    <div class="mb-3">
        <label class="form-label">Rạp</label>
        <select asp-for="CinemaId"
                class="form-select"
                asp-items="ViewBag.CinemaId">
            <option value="">-- Chọn rạp --</option>
        </select>
    </div>


    <div class="mb-3">
        <label class="form-label">Thời gian chiếu</label>
        <input asp-for="TimeSlot" type="datetime-local" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Lưu</button>
    <a asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>
